/*
lightbase red: #ff6666
blue: #6699cc
*/
.dropdownbutton {
  padding-top: 40px;
  padding-right: 50px;
  padding-bottom: 40px;
  padding-left: 50px;
  font-size: 150%;
  border-style: solid;
  border-width: 1.5px;
  border-color: #ccffff;
  box-shadow: 5px 5px #888888;
}

.menuitem {
  padding-top:10px;
  padding-bottom:10px;
  padding-right: 102px;
  padding-left: 102px;
  font-size: 200%;
  width: 100%;
}

.button {
  margin-top: 30vh;
  z-index: -1;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 2% 3%;
}

.background {
  background-color: #6699cc;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.alert {
  margin-top: -29vh;
  position: fixed;
  width: 150%;
  left: 50%;
  transform: translateX(-50%);
  padding: 2% 3%;
  z-index: 999;
  padding: 80px 80px;
  font-size: 120%;
  color: black;
  box-shadow: 5px 5px #888888;
  z-index: 999;
}

.alertbackground {
  background-color: white;
}
.redbutton {
  background-color: #ff6666;
  color: white;
}
.bluebutton {
  background-color: #6699cc;
  color: white;
}
.message {
  position: fixed;
  margin-right: -10vw;
  top: 25vh;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 150%;
  z-index: -3;
}
.notified {
  position: fixed;
  margin-right: -17vw;
  top: 25vh;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 150%;
}
