body {
  margin: 10px;
  padding: 0;
  font-family: sans-serif;
  /*background-color: #6699cc;*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Abel', sans-serif;
  font-size: 200%;
}
