.WelcomeMessage {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #6699cc;
}

.Message {
  position: fixed;
  width: 50vw;
  height: 30vh;
  top: 30vh;
  left: 50%;
  padding: 2%;
  transform: translateX(-50%);
  background-color: white;
  border: 2px solid #ccffff;
  box-shadow: 5px 5px #888888;
  border-radius: 5px;
}

.WelcomeMessage > div h1 {
}
