.welcomeBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #6699cc;
  font-size: 120%;
}

.Message {
  position: fixed;
  width: 50vw;
  height: 30vh;
  top: 30vh;
  left: 50%;
  padding: 5%;
  transform: translateX(-50%);
  background-color: white;
  border: 2px solid #ccffff;
  box-shadow: 5px 5px #888888;
  border-radius: 5px;
}

.Message > h1 {
  font-weight: bold;
  font-size: 120%;
  position: fixed;
  top: 5vh;
}

.Message > p {
  position: fixed;
  top: 15vh;
}
